<h2>User info#show</h2>

<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>


<td><%= @user.name%></td>
<% if @user.id == current_user.id %>
<td>
<%= link_to "編集", edit_user_path(@user) %>
</td>
<% end %>
<td>
<%= @user.profile %>
</td>

  
