<% if model.errors.any? %>
<h3><%= pluralize(model.errors.count,"error") %> prohibited this product from being saved:</h3>
<% model.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<% end %>


