<td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %></td>

<td><%= link_to book.user.name, user_path(book.user_id) %></td>

<td><%= link_to book.title %></td>

<td><%= @book.body %></td>
