<h1>Editing Book</h1>
<table>
  <%= render 'books/error', model: @book%>
  <%= render 'books/form', book: @book %>

  <td class="show"><%= link_to "show", book_path(@book) %></td>
  <td class="back"><%= link_to "back", books_path %></td>
</table>


