<h1>Editing Book</h1>
<table>
  
  
  <%= render 'books/form', book:@book %>

  <td class="show"><%= link_to "Show", book_path(@booknew) %></td>
  <td class="back"><%= link_to "Back", books_path %></td>
</table>


